<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Learning Sass</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy">
		<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<h3 class="text-muted bang pull-right">jeng.cc</h3>
				<nav class="bang">
					<ul class="nav nav-pills">
						<li role="presentation" class="active"><a href="#">HOME</a></li>
						<li role="presentation"><a href="#">ABOUT</a></li>
						<li role="presentation"><a href="#">CONTACT</a></li>
					</ul>
				</nav>
			</div>
			<div class="jumbotron">
				<h1>Hello, {{ user.name }}</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
			</div>
			<div class="row marketing">
				<div class="col-lg-6">
					<h4>Subheading</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	
					<h4>Subheading</h4>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
	
					<h4>Subheading</h4>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				</div>
	
				<div class="col-lg-6">
					<h4>Subheading</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	
					<h4>Subheading</h4>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
	
					<h4>Subheading</h4>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				</div>
			</div>
			<footer class="footer">
				<p>© Company 2014</p>
			</footer>
		</div> <!-- /container -->
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>